/* 
  ===============
  Projects Page Styles
  ===============
*/

.project {
    background-color: #fff;
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 1.5rem;
    margin-bottom: 1.5rem;
}
